<h1>Find Recipes</h1>
<p>Enter ingredients (comma-separated) to find recipes</p>

<%= form_with url: search_recipes_path, method: :get, local: true do |form| %>
  <div class="field">
    <%= form.label :ingredients, "Ingredients:" %>
    <%= form.text_field :ingredients, id: :ingredients, size: 50 %>
  </div>

  <div class="actions">
    <%= form.submit "Search" %>
  </div>
<% end %>
